@use "./src/css/reset.scss";
@use "./src/css/custom-fonts";
@use "./src/css/main";

$primary-color: #ffffff;

html,
body {
  min-height: 100vh;
}

body {
  background-color: $primary-color;
  min-height: 100vh;
  font-family: "SF Pro Display";
  font-weight: 400;
}
