body {
  background-image: url('/public/Ellipses/mob-1.png'),
    url('/public/Ellipses/mob-2.png'), url('/public/Ellipses/mob-3.png'),
    url('/public/Ellipses/mob-4.png');
  background-position: top 1715.15px left 0px, top 2377px left 0px,
    top 1031px left 0px, top 3311px left 0px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

  background-size: 710.39px 469.44px, 757.67px 425.41px, 547.43px 463.76px,
    670.7px 568.19px;

  @media screen and (min-width: 768px) {
    background-image: url('/public/Ellipses/tabl-1.png'),
      url('/public/Ellipses/tabl-2.png'), url('/public/Ellipses/tabl-3.png'),
      url('/public/Ellipses/tabl-4.png');
    background-position: top 1985px left -160px, top 2708px right 0px,
      top 1085px right 0px, top 3371px left -246px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    background-size: 877.94px 580.16px, 936.37px 525.75px, 676.55px 573.14px,
      821.11px 695.61px;
  }

  @media screen and (min-width: 1440px) {
    background-image: url('/Ellipses/desk-1.png'), url('/Ellipses/desk-2.png'),
      url('/Ellipses/desk-3.png'), url('/Ellipses/desk-4.png'),
      url('/Ellipses/desk-5.png');

    background-position: top 1308px left -98px, top 1747px right 0px,
      top 1983px left -235px, top 2498px left 0px, top 834px right 0px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

    background-size: 877.94px 580.16px, 936.37px 525.75px, 593.86px 333.44px,
      821.11px 695.61px, 676.55px 573.14px;
  }
}
