$accent-color : #1F3F68;
$default-blue-color : #5A98D0;
$hover-blue-color : #4799E3;
$active-blue-color : #4088C9;
$blue-color: #356EAD;
$white-color:#FFFFFF;
$title-blue-color:#316099;



$shadow-default: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
$shadow-hover: 5px 10px 20px 0px rgba(53, 110, 173, 0.35);
$shadow-card: 5px 20px 50px 0px #1070B133;

$hero-gradient: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);

