$accent-color: #1f3f68;
$default-blue-color: #5a98d0;
$hover-blue-color: #4799e3;
$active-blue-color: #4088c9;
$blue-color: #356ead;
$white-color: #ffffff;
$title-blue-color: #316099;
$input-color: #eaf3fa;
$input-error: #b82e2e;
$alert-color: #888888;
$checkbox-color: #deecf7;

$shadow-default: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
$shadow-hover: 5px 10px 20px 0px rgba(53, 110, 173, 0.35);
$shadow-card: 5px 20px 50px 0px #1070b133;
$shadow-input-hover: 0px 2px 16px 0px #a3c9f5;
$shadow-input-active: 0px 2px 16px 0px #a3c9f5;
$shadow-input-error: 0px 2px 16px 0px #f58a8a;

$hero-gradient: linear-gradient(
  0deg,
  #98c3e8 8.84%,
  rgba(152, 195, 232, 0) 31.12%
);
